  <head>
    <title>Teacher Student View</title>

  </head>
    <div class="addQuestionDiv">
      <div class="navBar">
	<button type="button" ng-click="homeButton()">Home</button>
	<button type="button" id="logoutID" ng-click="logoutButton()">Logout</button>
	<button type="button" id="doneID" ng-click="goBack()">Done</button>
      </div>
      <table id="thisTable" class="valuesTable">
	<tr>
	  <th>
	    Picture
	  </th>
	  <th>
	    Meaning
	  </th>
	</tr>
	<tr>
	  <th>
	    <i class="fa fa-check" aria-hidden="true"></i>
	  </th>
	  <th>
	    Student completed assignment(s) before due date ended
	  </th>
	</tr>
	<tr>
	  <th>
	    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
	  </th>
	  <th>
	    Student did not complete the assignment or assignments before the due date.
	  </th>
	</tr>
	<tr>
	  <th>
	    <i class="fa fa-times" aria-hidden="true"></i>
	  </th>
	  <th>
	    The due dates have passed and the student did not complete the assignment.
	  </th>
	</tr>
	
      </table>
      <br>
      <div id="studentName">{{selectedStudent.firstName}} {{selectedStudent.lastName}}</div>
      <div class="chapter" ng-repeat="chapter in selectedStudent.chapters">
	<div ng-click="showStuff(chapter)">
	  <i class="fa {{chapter.expandIcon}}" aria-hidden="true"></i><p>{{chapter.name}}</p>
	  <i class="fa {{chapter.completeIcon}}" aria-hidden="true"></i>
      </div>
	<div class="hwEditListing" ng-repeat="homework in chapter.homework | filter:{hide:false}">
	  <a>
	    {{homework.name}}
	  <span class="studentCompletedTab">{{homework.dateString}} </span>
	  <i class="fa {{homework.statusPic}}" aria-hidden="true"></i>
	  </a>
	</div>
      </div>
      <!--
      <div class="chapter">
	<div>
	  <i class="fa fa-plus" aria-hidden="true"></i><p>CH 1</p>
	  <i class="fa fa-check-circle" aria-hidden="true"></i>
	</div>
      </div>
      <div class="chapter">
	<div>
	  <i class="fa fa-plus" aria-hidden="true"></i><p>CH 2</p>
	  <i class="fa fa-check-circle" aria-hidden="true"></i>
	</div>
      </div>
      <div class="chapter">
	<div>
	  <i class="fa fa-plus" aria-hidden="true"></i><p>CH 3</p>
	  <i class="fa fa-times-circle" aria-hidden="true"></i>
	</div>
      </div>
      <div class="chapter">
	<div>
	  <i class="fa fa-plus" aria-hidden="true"></i><p>CH 4</p>
	  <i class="fa fa-check-circle" aria-hidden="true"></i>
	</div>
      </div>
      <div class="chapter">
	<div>
	  <i class="fa fa-minus" aria-hidden="true"></i><p>CH 5</p>
	  <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
	</div>
	<div class="hwListing">Chapter 5.1
	  <span class="studentCompletedTab">Due Date: 5/5/2017 9:00 am</span>
	  <span class="studentCompletedTab"><i class="fa fa-check" aria-hidden="true"></i></span>
	</div>
	<div class="hwListing">Chapter 5.2
	  <span class="studentCompletedTab">Due Date: 5/7/2017 9:00 am</span>
	  <span class="studentCompletedTab"><i class="fa fa-times" aria-hidden="true"></i></span>
	</div>
	<div class="hwListing">Chapter 5.3
	  <span class="studentCompletedTab">Due Date: 5/9/2017 9:00 am</span>
	  <span class="studentCompletedTab"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
	</div>
      </div>
      -->
    </div>
    <div class="questionDiv">
      <p>Students</p>
      <div id="teacherStudentManagement">
      	<div class="chapterEdit missedHW" ng-repeat="student in students | orderBy:'nameForOrderBy'" ng-click="displayStudent(student)">
	  <i class="fa {{student.statusIcon}}" aria-hidden="true"></i>
	  <span> {{student.firstName}} {{student.lastName}} </span><span style="color:{{student.color}}">{{student.completed}}/{{student.total}}</span>
	</div>
	<!--
      	<div class="chapterEdit">
	  <i class="fa fa-plus" aria-hidden="true"></i>
	  <span>Leyu Fei </span><span class="missedHW">1/12</span>
	</div>
      	<div class="chapterEdit">
	  <i class="fa fa-plus" aria-hidden="true"></i>
	  <span>Morgan Hites </span><span>11/12</span>
	</div>
      	<div class="chapterEdit">
	  <i class="fa fa-minus" aria-hidden="true"></i>
	  <span>Alexander Luken </span><span class="missedHW">10/12</span>
	</div>
      	<div class="chapterEdit">
	  <i class="fa fa-plus" aria-hidden="true"></i>
	  <span>Andrew Roche </span><span>11/12</span>
	</div>
	-->
      </div>
    </div>

