 <form>

<p>{{question.index}}. {{question.prompt}}
                <div class="option" ng-repeat="option in question.options track by $index">
                    <input type="radio" disabled="disabled" name="option" ng-checked="option == question.response" />
                    <p ng-if="question.answer == option" style="color:#006600;">{{option}}</p>
                    <p ng-if="question.answer != option">{{option}}</p>
                  
     
     
     
     </div>
     

                

            </form>
   
