
.signupelement {
    width: 50%;
    margin: auto;
}

.signupelement > input[type=text] {
    width: 100%;
    font-size: 100%;
    margin: auto;
    margin-bottom: 5%;
    border-style: ridge;
    background-color: #1A2930;
    color: #C5C1C0;
    padding: .5em;
}
h1{
    text-align: center;
}
.signupelement > p {
    width: 100%;
    font-size: 105%;
    opacity: 0.85;
    margin: auto;    
    margin-bottom: 2%;

}



#content{
        background-color: #5DADE2;

}
#submit{
        display: block;
    width: 10em;
    margin: auto;
    text-align:center;
    font-size:150%;
    background-color:#1A2930;
    color:white;
    border-radius:25px;
     margin-bottom:5%;

}